i.mdi-information-outline {
    color: #fff;
}

i.mdi-lifebuoy {
    color: #fff;
}

i.mdi-help {
    color: #fff;
}

i.mdi-console {
    color: #fff;
}

i.mdi-server-network {
    color: #fff;
}

i.mdi-home {
    color: #fff;
}